---
title: Messages
---

<!doctype html>
  <html class="no-js" lang="">

    {% include head.html %}

    <body>

            {% include nav.html%}

              <div class="container">
                <div class="row">

                  <!-- top -->
                  <div class="index-section index-top">
                    <div class="text-sort text-sort--right">
                      <!--<img src="/static/img/logo_landing.svg">-->
                      <img src="../img/chat-icons/logo_landing.svg">
                    </div>
                  </div>

                  <!-- user info -->
                  <div class="index-section index-input">
                    <input type="text" class="index-userid" placeholder="Enter User ID" id="user_id"> <br /> <br />
                    <input type="text" class="index-nickname" maxlength="12" placeholder="Enter User nickname" id="user_nickname">
                    <button type="button" class="index-button" id="btn_start">DONE</button>
                  </div>

                  <!-- description -->
                  <div class="index-section index-text">
                    Start chatting on SendBird by choosing your display name.<br>
                    This can be changed anytime and will be shown on 1-on-1 and group messaging.
                  </div>

                  <div class="index-section index-bottom">
                    <!--<img src="/static/img/image-landing-01.png" width="624">-->
                    <img src="../img/chat-icons/image-landing-01.png" width="624">
                  </div>

                </div>
              </div>






        {% include footer.html %}

        <script src="../js/util.js"></script>
        <script src="../js/index.js"></script>

    </body>
</html>
