---
title: People
---

<!doctype html>
  <html class="no-js" lang="">

    {% include head.html %}

    <body>

            {% include nav.html%}


    <div class="container">
      <div class="row">
        <!-- Use handlebars and javascript to show all people in the object with one script -->
          <script id="users-template" type="text/x-handlebars-template">


            {% raw %}

            {{#each this}}
              <div class="col-md-3">
              <div class="user">
                    <h4>{{firstName}} {{surName}}</h4>
                    <img src="{{picture}}" class="profpic"/>
                    <p><a class="btn btn-default" href="../profile/profile-{{id}}.html" role="button">View details &raquo;</a></p>
              </div>
            </div>
            {{/each}}

            {% endraw %}
            

          </script>
        </div>
    </div> <!-- /container -->




        <script src="../js/handlebars-v4.0.5.js"></script>
        <script src="../js/people.js"></script>

{% include footer.html %}


    </body>
</html>
