---
title: Home
---

<!doctype html>
  <html class="no-js" lang="">

  {% include indexhead.html %}

    <body>

  {% include indexnav.html %}

    <div class="container">
      <div class="row">
        <div class="col-md-11">
            <h2>Find your favorite book</h2>
        </div>
      </div>
            <div class="row">
              <div class="col-md-11">
                <input oninput="w3.filterHTML('#books', 'p', this.value)" placeholder="Search your favourite book...">
                <!-- Dataset from datatank.stad.gent with "everything" in the library in Ghent, filtered to show only books (in main javascript file) -->
                <div id="books"></div>
              </div>
            </div>

<div class="row" id="bigbuttons">
        <div class="col-md-5">
            <a href="settings/login.html"><button class="homebtnlink btn signup-btn" style="margin-bottom: 1%;">Login</button></a>
        </div>
        <div class="col-md-5">
            <a href="settings/signup.html"><button class="homebtnlink btn signup-btn" style="margin-bottom: 1%;">Sign Up</button></a>
        </div>
</div>



    </div> <!-- /container -->


        <script src="https://www.w3schools.com/lib/w3.js"></script>
  {% include footer.html %}
  
    </body>
</html>
